/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

/* reset */

body {
  font-family: sans-serif;
  margin: 0;
}

.main-header {
  background-color: #000;
}

#top-nav {
  display: flex;
  justify-content: space-around;

  padding: 10px;
}

.nav-item {
  color:#05ff2c;
  font-size: 25px;
  font-weight: 700;

  margin: 10px;
}

#main-img > img {
  width: 95vw;
  height: 100vh;
}

 #main-img {
  background-image: url(images/mountain.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
} 

.title {
  color: #000;
  font-size: 45px;
  font-weight: bold;
  text-align: center;

  margin: 30px;
}

#main-title {
  position: absolute;
  top: 15%;

  margin: 0px 160px;

  color: #fff;
  background-color: #000;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.card {
  border: 10px solid #000;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 10px 10px 5px #000; 

  text-align: center;

  max-width: 350px;
  min-height: 470px;

  position: relative;
}

.shop-article > p, h3 {
  margin-top: 15px;

  font-weight: 700;
}


.shop-article-link {
  background-color: #000;
  border-radius: 5px;

  color: #05ff2c;
  font-weight: 700;

  padding: 10px;
  margin-top: 20px;

  position: absolute;
  bottom: 20px;
  left: 120px
}


.mark {
  position: absolute;
  background-color: #000;
  color:#fff;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  border-radius: 0 0 10px 0;
}

.news-article {
  border: 10px solid #000;
  border-radius: 15px;
  padding: 10px;
  margin: 15px;

  font-size: 24px;
}

footer {
  background-color: #000;
  color: #fff;
  height: 100px;
  display: flex;
  flex-direction: column;
}

footer > a {
  color: #fff;
  margin: 10px;

}