/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

/* reset */

body {
  font-family: sans-serif;
  margin: 0;
}

.site-header {
  background-color: #000;
  color:#05ff2c;
  font-size: 25px;
  font-weight: 700;

  display: flex;
  justify-content: space-around;
}

.site-header__mobile-nav {
  max-height: 20px;
  max-width: 40px;
  display: none;
}

.all-device-nav__link {
  padding: 10px;
  color:#05ff2c;

  display: flex;

}

.wide-device-nav {
  color:#05ff2c;
  
  margin: 10px;
  align-items: center;
}

.intro {
  background-image: url(images/mountain.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
} 

.title {
  color: #000;
  font-size: 45px;
  font-weight: bold;
  text-align: center;

  margin: 30px;
}

.intro__title {
  position: absolute;
  top: 15%;

  margin: 0px 160px;

  color: #fff;
  background-color: #000;
}

.shop {
  display: flex;
  flex-direction: column;
}

.cards-wrapper {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-content: start;
}

.card {
  border: 10px solid #000;
  border-radius: 15px;
  padding: 10px;
  margin: 20px;
  box-shadow: 10px 10px 5px #000; 

  text-align: center;

  max-width: 350px;
  min-height: 470px;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: end;
}

.shop-card__title,
.shop-card__available,
.shop-card__price,
.shop-card__link {
  margin-top: 20px;
  font-weight: 700;
}

.shop-card__link {
  background-color: #000;
  border-radius: 5px;

  color: #05ff2c;
  font-weight: 700;

  padding: 10px;
  margin-top: 20px;
}

.review-card {
  display: flex;
  flex-direction: column;
  justify-content: start;

  border: 10px solid #000;
  border-radius: 15px;
  padding: 10px;
  margin: 20px;
  box-shadow: 10px 10px 5px #000; 

  text-align: center;

  max-width: 350px;
  min-height: 470px;

  position: relative
}

.review-card__mark {
  background-color: #000;
  color:#fff;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  border-radius: 0 0 10px 0;

  position: absolute;
  top: 0;
  left: 0;
}

.review-card__title {
  font-weight: 700;
  margin: 10px;
}

.news {
  display: flex;
  flex-direction: column;
}

.news-article {
  border: 10px solid #000;
  border-radius: 15px;
  padding: 10px;
  margin: 15px;

  font-size: 24px;
}

.news-article__title {
  font-weight: 700;
}

.footer {
  background-color: #000;
  color: #fff;
  height: 100px;
  display: flex;
  flex-direction: column;
}

.footer__link {
  color: #fff;
  margin: 10px;

}

@media (max-width: 800px) {
  .site-header__logo {
    display: none;
  }

  .site-header__title {
    font-size: 20px;
  }

  .wide-device-nav {
    display: none;
  }

  .cards-wrapper {
    flex-direction: column;
    justify-content: space-between;
    align-content: normal;
    align-items: center;
  }

  .card {
    max-height: 350px;
    max-width: 250px;
    justify-content: startS;
  }

.shop-card__title,
.shop-card__available,
.shop-card__price,
.shop-card__link {
  margin-top: 8px;
  font-weight: 500;
}

.title {
  font-size: 24px;
}
}